<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title>To-do List</title>
    {% endif %}
</head>
<body>
    <h1>Lista de tareas a realizar</h1>
    <a href="#">Agregar tarea</a>
    <div>
        <ul>
            {% for item in items_list %}
                <p>
                    <input type="checkbox" value='{{item}}' {% if item.done_status%}checked{% endif %} >{{item.title}}
                </p>
            {% endfor %}
        </ul>
        
    </div>
</body>
</html>