{% extends 'todo/base.html' %}
{% block content %}
    {% if request.user.is_authenticated %}
        <p>{{ request.user}}</p>
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit">Logout</button>
        </form>
        
    {% else %}
        <a class="btn btn-outline-info" href="{% url 'login' %}">Login</a>
    {% endif %}
    <hr>
    <h1>Lista de tareas a realizar</h1>
    <a class="btn btn-outline-info" href="{% url 'item-create' %}">Agregar tarea</a>
    <hr>
    <div id="search-add-wrapper">
        <form method="GET" style="display: flex;">
            <input type='text' name='search-area' placeholder="Buscar tarea..." value="{{search_input}}">
            <input class="button" type="submit" value='Buscar'>
        </form>
        {% if tasks|length > 0 %}
        <a id="add-link" href="{% url 'task-create' %}">&#x2b;</a>
        {% endif %}
    </div>
    
    {% if items|length > 0 %}
        <table>
            <tr>
                <th>Item</th>
                <th></th>
            </tr>
        {% for item in items %}            
                <tr>
                    <td>{{item.title}}</td>                    
                    <td><a href="{% url 'item-update' item.id %}">Editar</a></td>
                    <td><a href="{% url 'item-delete' item.id %}">Eliminar</a></td>
                </tr>            
        {% endfor %}
        </table>
    {% else %}
        <h3>No hay elementos en la lista.</h3>        
    {% endif %}
{% endblock %}